<%- include('../components/header') %>
  <main>
    <section class="section hero-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="header">Welcome, <%= displayName %></h1>
            <p class="flow-text">
             Hello world
            </p>
            <a href="/auth/logout" class="btn waves-effect waves-light red darken-2">Sign Out</a>
          </div>
        </div>
      </div>
    </section>
  </main>
<%- include('../components/footer') %>

