<%- include('../components/header') %>
  <main>
    <section class="section hero-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="header">Wake Up Truly Alive</h1>
            <a href="#" class="btn-large black waves-effect waves-light">Track My Sleep Now</a>
          </div>
        </div>
      </div>
    </section>
  </main>
<%- include('../components/footer') %>
