    <footer class="page-footer grey darken-3" style="margin-top: 0;">
    <footer class="page-footer grey darken-3">
      <div class="container white-text">
        <div class="row">
          <div class="col s12 m6">
            <h5 class="white-text"><a href="/" class="white-text">Alive</a></h5>
          </div>
          <div class="col s12 m3">
            <h6 class="white-text">Navigation</h6>
            <ul>
              <%- include('./navMenu') %>
            </ul>
          </div>
          <div class="col s12 m3">
            <h6 class="white-text">Account</h6>
            <ul>
              <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>
                <li><a href="/dashboard" class="white-text">My Sleep Data</a></li>
                <li><a href="/auth/logout" class="white-text">Sign Out</a></li>
              <% } else { %>
                <li><a href="/auth/login" class="white-text">Sign In / Register</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container white-text">
          © <%= new Date().getFullYear() %> Alive. All rights reserved.
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/scripts.js"></script>
    <% if (typeof isDashboard !== 'undefined' && isDashboard) { %>
        <script src="/js/app.js"></script>
    <% } %>
  </body>
</html>