<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title ? `${title} | ` : '' %>Alive Sleep Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="grey lighten-5">
    <nav class="grey darken-3">
      <div class="nav-wrapper container nav-layout">
        <div class="nav-left">
          <a href="/" class="nav-brand white-text">Alive</a>
        </div>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger white-text hide-on-large-only">
          <i class="material-icons white-text">menu</i>
        </a>
        <div class="nav-center hide-on-med-and-down">
          <ul class="nav-menu">
            <%- include('./navMenu') %>
          </ul>
        </div>
        <div class="nav-right hide-on-med-and-down">
          <a href="#" class="btn waves-effect waves-light">Sign In / Register</a>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
      <%- include('./navMenu') %>
      <li><a href="#">Sign In / Register</a></li>
    </ul>

