<li class="<%= activeMenu === 'home' ? 'active' : '' %>">
  <a href="/">Home</a>
</li>
<li class="<%= activeMenu === 'about' ? 'active' : '' %>">
  <a href="/about">About Us</a>
</li>
<li class="<%= activeMenu === 'insights' ? 'active' : '' %>">
  <a href="/insights">Insights</a>
</li>

